/* ================================================= */

/* RESET GLOBAL */

/* ================================================= */



*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}





:root{



    --bg:#070B18;



    --bg-card:#111827;



    --bg-card-light:#162235;



    --primary:#2563EB;



    --primary-light:#3B82F6;



    --success:#10B981;



    --gold:#F59E0B;



    --text:#F8FAFC;



    --text-soft:#94A3B8;



    --border:rgba(255,255,255,.08);



}





html{



    scroll-behavior:smooth;



    scroll-padding-top:100px;



    background:#070B18;



}





body{



    font-family:'Poppins',sans-serif;



    background:#070B18 !important;



    color:#F8FAFC;



    overflow-x:hidden;



    min-height:100vh;



}









/* ================================================= */

/* FONDO FINTECH PREMIUM */

/* ================================================= */





body::before{



    content:"";



    position:fixed;



    width:950px;



    height:950px;



    top:-400px;



    right:-350px;





    background:#3B82F6;



    opacity:.20;



    filter:blur(180px);



    border-radius:50%;



    z-index:-2;



}









body::after{



    content:"";



    position:fixed;



    width:850px;



    height:850px;



    bottom:-400px;



    left:-350px;





    background:#10B981;



    opacity:.12;



    filter:blur(180px);



    border-radius:50%;



    z-index:-2;



}











/* ================================================= */

/* NAVBAR */

/* ================================================= */





header{



    position:fixed;



    top:0;



    width:100%;



    z-index:999;



    backdrop-filter:blur(20px);



    background:rgba(7,11,24,.75);



}











.navbar{



    width:90%;



    max-width:1300px;



    margin:auto;



    display:flex;



    justify-content:space-between;



    align-items:center;



    padding:20px 0;



}











.logo{



    display:flex;



    align-items:center;



    gap:15px;



    font-size:28px;



    font-weight:700;



}











.logo img{



    width:55px;



}











.navbar ul{



    display:flex;



    gap:40px;



    list-style:none;



}











.navbar a{



    color:var(--text);



    text-decoration:none;



    font-weight:500;



    transition:.3s;



}











.navbar a:hover{



    color:#60A5FA;



}











.menu-icon{



    display:none;



    font-size:32px;



    cursor:pointer;



}













/* ================================================= */

/* HERO */

/* ================================================= */





.hero{



    min-height:100vh;



    width:90%;



    max-width:1300px;



    margin:auto;



    display:grid;



    grid-template-columns:1fr 1fr;



    align-items:center;



    gap:70px;



}











.etiqueta{



    display:inline-block;



    background:rgba(37,99,235,.15);



    color:#60A5FA;



    padding:10px 20px;



    border-radius:40px;



    font-size:14px;



    border:1px solid rgba(96,165,250,.25);



}











.hero-texto h1{



    font-size:70px;



    line-height:1.1;



    margin:30px 0;



    font-weight:800;



}











.hero-texto p{



    color:var(--text-soft);



    font-size:20px;



    line-height:1.8;



    max-width:600px;



}











.hero-imagen{



    text-align:center;



}











.hero-imagen img{



    width:100%;



    max-width:560px;



    animation:flotar 5s infinite ease-in-out;





    filter:



    drop-shadow(0 30px 70px rgba(37,99,235,.45));



}







/* ================================================= */

/* BOTONES PREMIUM */

/* ================================================= */





.botones{



    display:flex;



    gap:20px;



    margin-top:45px;



    flex-wrap:wrap;



}









.btn{



    position:relative;



    padding:16px 35px;



    border-radius:16px;



    text-decoration:none;



    font-weight:600;



    overflow:hidden;



    transition:.35s;



}











.btn-azul{



    background:linear-gradient(

    135deg,

    #2563EB,

    #3B82F6

    );



    color:white;



    box-shadow:

    0 15px 35px rgba(37,99,235,.35);



}











.btn-azul:hover{



    transform:translateY(-6px) scale(1.03);



    box-shadow:

    0 20px 45px rgba(37,99,235,.55);



}











.btn-blanco{



    background:white;



    color:#070B18;



}











.btn-blanco:hover{



    transform:translateY(-6px);



}











.btn-dorado{



    background:linear-gradient(

    135deg,

    #F59E0B,

    #FBBF24

    );



    color:#111;



    box-shadow:

    0 15px 35px rgba(245,158,11,.35);



}











.btn-dorado:hover{



    transform:translateY(-6px);



}











/* ================================================= */

/* ANIMACIÓN HERO */

/* ================================================= */





@keyframes flotar{



0%{



transform:translateY(0);



}





50%{



transform:translateY(-20px);



}





100%{



transform:translateY(0);



}



}











/* ================================================= */

/* ESTADÍSTICAS */

/* ================================================= */





.estadisticas{



    width:90%;



    max-width:1300px;



    margin:120px auto;



}











.stats-box{



    display:grid;



    grid-template-columns:repeat(4,1fr);



    gap:25px;



}











.stat{





    background:

    rgba(17,24,39,.75);





    backdrop-filter:blur(15px);





    border:1px solid var(--border);





    padding:35px 20px;





    border-radius:28px;





    text-align:center;





    transition:.4s;



}











.stat:hover{



    transform:translateY(-12px);



    border-color:#2563EB;



    box-shadow:

    0 25px 60px rgba(37,99,235,.25);



}











.stat h2{



    font-size:45px;



    color:#60A5FA;



}











.stat p{



    margin-top:10px;



    color:var(--text-soft);



}











/* ================================================= */

/* FUNCIONES */

/* ================================================= */





.funciones{





    width:90%;





    max-width:1300px;





    margin:150px auto;





    text-align:center;





}











.funciones h2{





    font-size:50px;





    line-height:1.2;





}











.subtitulo{





    margin:25px auto 70px;





    color:var(--text-soft);





    font-size:18px;





}











.grid{





    display:grid;





    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));





    gap:30px;





}











/* TARJETAS FINTECH */





.card{





    position:relative;





    background:



    rgba(17,24,39,.75);





    backdrop-filter:blur(15px);





    padding:40px;





    border-radius:28px;





    border:1px solid var(--border);





    overflow:hidden;





    transition:.45s;





}











.card:hover{





    transform:



    translateY(-15px)



    rotateX(5deg)



    rotateY(-5deg);





    border-color:#2563EB;





    box-shadow:



    0 30px 70px rgba(37,99,235,.3);





}











.card::before{





    content:"";





    position:absolute;





    inset:0;





    background:



    linear-gradient(



    120deg,



    transparent,



    rgba(255,255,255,.12),



    transparent



    );





    transform:translateX(-100%);





    transition:.6s;





}











.card:hover::before{





    transform:translateX(100%);





}











.icono{





    font-size:50px;





    margin-bottom:25px;





}











.card h3{





    font-size:24px;





    margin-bottom:15px;





}











.card p{





    color:var(--text-soft);





    line-height:1.7;





}













/* ================================================= */

/* ANIMACIONES SCROLL */

/* ================================================= */





.reveal{





    opacity:0;





    transform:translateY(60px);





    transition:1s;





}













.reveal.active{





    opacity:1;





    transform:translateY(0);





}















.reveal-left{





    opacity:0;





    transform:translateX(-80px);





    transition:1s;





}











.reveal-left.active{





    opacity:1;





    transform:translateX(0);





}















.reveal-right{





    opacity:0;





    transform:translateX(80px);





    transition:1s;





}















.reveal-right.active{





    opacity:1;





    transform:translateX(0);





}







/* ================================================= */

/* MONEYMIND AI */

/* ================================================= */







.ia{





    width:90%;





    max-width:1300px;





    margin:150px auto;





    display:grid;





    grid-template-columns:1fr 400px;





    gap:70px;





    align-items:center;





}















.ia-contenido h2{





    font-size:50px;





    margin:30px 0;





}















.ia-contenido p{





    color:#b7c3d0;





    font-size:19px;





    line-height:1.8;





}















.ia-lista{





    margin-top:35px;





    display:flex;





    flex-direction:column;





    gap:18px;





}











.ia-lista div{





    background:#111d30;





    padding:18px 25px;





    border-radius:15px;





    border:1px solid rgba(255,255,255,.05);





    transition:.3s;





}











.ia-lista div:hover{





    transform:translateX(10px);





    border-color:#2563eb;





}

















.ia-card{





    background:





    linear-gradient(



    145deg,



    #16263d,



    #0b1525



    );





    border-radius:30px;





    padding:45px 30px;





    text-align:center;





    box-shadow:



    0 30px 80px rgba(0,0,0,.35);





    border:1px solid rgba(255,255,255,.08);





}















.ai-circle{





    width:100px;





    height:100px;





    margin:auto;





    display:flex;





    align-items:center;





    justify-content:center;





    font-size:50px;





    border-radius:50%;





    background:#2563eb;





    margin-bottom:25px;





}















.ia-card h3{





    font-size:28px;





    margin-bottom:20px;





}











.ia-card p{





    color:#b7c3d0;





    line-height:1.7;





}



















/* ================================================= */

/* PREMIUM */

/* ================================================= */











.premium{





    width:90%;





    max-width:1300px;





    margin:160px auto;





    padding:90px;





    border-radius:40px;





    text-align:center;





    color:#111;





    background:





    linear-gradient(



    135deg,



    #facc15,



    #eab308



    );





    box-shadow:



    0 40px 90px rgba(234,179,8,.25);





}















.premium h2{





    font-size:55px;





}















.premium p{





    font-size:20px;





    max-width:800px;





    margin:30px auto;





    line-height:1.7;





}















.premium-tag{





    background:#111827;





    color:#facc15;





}















.premium-funciones{





    display:flex;





    justify-content:center;





    gap:20px;





    flex-wrap:wrap;





    margin:40px 0;





}















.premium-funciones div{





    background:rgba(255,255,255,.35);





    padding:15px 25px;





    border-radius:30px;





    font-weight:600;





}



















/* ================================================= */

/* DESCARGA */

/* ================================================= */











.descarga{





    text-align:center;





    width:90%;





    max-width:1000px;





    margin:150px auto;





}











.descarga h2{





    font-size:55px;





}











.descarga p{





    color:#b7c3d0;





    font-size:20px;





    margin:30px 0 50px;





}

















/* ================================================= */

/* FOOTER */

/* ================================================= */











.footer{





    border-top:





    1px solid rgba(255,255,255,.08);





    padding:70px 5% 30px;





}















.footer-contenido{





    max-width:1300px;





    margin:auto;





    display:flex;





    justify-content:space-between;





    gap:50px;





}















.footer-logo img{





    width:60px;





}















.footer-logo p{





    color:#b7c3d0;





    margin-top:15px;





}















.footer-links{





    display:flex;





    gap:80px;





}











.footer-links div{





    display:flex;





    flex-direction:column;





    gap:15px;





}











.footer-links h3{





    margin-bottom:10px;





}











.footer-links a{





    color:#b7c3d0;





    text-decoration:none;





    transition:.3s;





}











.footer-links a:hover{





    color:white;





}















.footer-final{





    text-align:center;





    color:#718096;





    margin-top:50px;





}





/* ================================================= */

/* RESPONSIVE */

/* ================================================= */







@media(max-width:1100px){







    .hero{





        grid-template-columns:1fr;





        text-align:center;





        padding-top:150px;





    }











    .hero-texto p{





        margin:auto;





    }











    .hero-imagen{





        margin-top:40px;





    }













    .ia{





        grid-template-columns:1fr;





        text-align:center;





    }











    .ia-lista{





        text-align:left;





    }











    .stats-box{





        grid-template-columns:repeat(2,1fr);





    }











    .premium{





        padding:60px 30px;





    }











}



















@media(max-width:850px){











    .navbar{





        width:85%;





    }











    .menu-icon{





        display:block;





    }













    .navbar ul{





        position:absolute;





        top:80px;





        left:0;





        width:100%;





        background:#06101d;





        flex-direction:column;





        align-items:center;





        padding:30px;





        gap:25px;





        display:none;





    }













    .navbar ul.active{





        display:flex;





    }











    .hero-texto h1{





        font-size:48px;





    }













    .funciones h2,





    .ia-contenido h2,





    .premium h2,





    .descarga h2{





        font-size:38px;





    }











    .footer-contenido{





        flex-direction:column;





        text-align:center;





    }











    .footer-links{





        justify-content:center;





    }









}



















@media(max-width:600px){











    .hero{





        width:85%;





    }











    .hero-texto h1{





        font-size:38px;





    }











    .hero-texto p{





        font-size:16px;





    }











    .botones{





        justify-content:center;





    }











    .btn{





        width:100%;





    }











    .stats-box{





        grid-template-columns:1fr;





    }











    .premium{





        width:85%;





        border-radius:25px;





    }











    .footer-links{





        flex-direction:column;





        gap:40px;





    }











    .ia-card{





        padding:35px 20px;





    }











}







/* ================================================= */

/* CONTACTO */

/* ================================================= */





.contacto{





    width:90%;



    max-width:1200px;



    margin:170px auto 100px;





    display:grid;



    grid-template-columns:1fr 400px;





    gap:70px;





    align-items:center;





}











.contacto-contenido h1{





    font-size:55px;





    margin:30px 0;





}











.contacto-contenido p{





    color:#b7c3d0;





    font-size:19px;





    line-height:1.8;





    margin-bottom:40px;





}















.formulario{





    display:flex;





    flex-direction:column;





    gap:20px;





}















.formulario input,





.formulario textarea{





    width:100%;





    padding:18px 20px;





    border-radius:15px;





    border:1px solid rgba(255,255,255,.1);





    background:#111d30;





    color:white;





    font-family:'Poppins',sans-serif;





    font-size:16px;





    outline:none;





    transition:.3s;





}















.formulario textarea{





    height:160px;





    resize:none;





}















.formulario input:focus,





.formulario textarea:focus{





    border-color:#2563eb;





    box-shadow:0 0 20px rgba(37,99,235,.25);





}















.contacto-info{





    background:#111d30;





    padding:45px 35px;





    border-radius:30px;





    border:1px solid rgba(255,255,255,.08);





    box-shadow:0 30px 70px rgba(0,0,0,.25);





}















.contacto-info h2{





    font-size:35px;





    margin-bottom:20px;





}











.contacto-info p{





    color:#b7c3d0;





    margin-bottom:30px;





}















.contacto-info div{





    margin-top:20px;





    padding:15px;





    background:#16263d;





    border-radius:15px;





}











@media(max-width:900px){







    .contacto{





        grid-template-columns:1fr;





    }







    .contacto-contenido h1{





        font-size:40px;





    }





}









/* ================================================= */

/* PAGINA DESCARGA */

/* ================================================= */







.descarga-pagina{





    width:90%;





    max-width:1200px;





    margin:170px auto 100px;





    text-align:center;





}















.descarga-pagina h1{





    font-size:60px;





    margin:35px 0;





    line-height:1.2;





}















.descarga-pagina p{





    color:#b7c3d0;





    font-size:20px;





    max-width:800px;





    margin:0 auto 40px;





    line-height:1.8;





}















.descarga-card{





    margin:75px auto;





    max-width:500px;





    background:#111d30;





    padding:50px 40px;





    border-radius:35px;





    border:1px solid rgba(255,255,255,.08);





    box-shadow:0 30px 70px rgba(0,0,0,.3);





    transition:.4s;





}















.descarga-card:hover{





    transform:translateY(-10px);





    border-color:#2563eb;





    box-shadow:0 40px 90px rgba(37,99,235,.25);





}















.descarga-card img{





    width:90px;





    margin-bottom:25px;





}















.descarga-card h2{





    font-size:32px;





    margin-bottom:20px;





}















.descarga-card p{





    font-size:16px;





    margin:10px auto;





}















.descarga-card .btn{





    display:inline-block;





    margin-top:30px;





}

















/* ================================================= */

/* PROXIMAMENTE */

/* ================================================= */











.proximamente{





    margin-top:80px;





    display:flex;





    justify-content:center;





    gap:20px;





    flex-wrap:wrap;





}











.proximamente h2{





    width:100%;





    font-size:40px;





    margin-bottom:20px;





}















.proximamente div{





    background:#111d30;





    padding:20px 30px;





    border-radius:20px;





    border:1px solid rgba(255,255,255,.06);





    color:#b7c3d0;





    transition:.3s;





}















.proximamente div:hover{





    color:white;





    transform:translateY(-5px);





    border-color:#2563eb;





}















@media(max-width:700px){







    .descarga-pagina h1{





        font-size:40px;





    }







    .descarga-card{





        padding:40px 20px;





    }





}











/* ================================================= */

/* NUEVAS SECCIONES MONEYMIND 1.0 */

/* ================================================= */





/* CONFIANZA HERO */





.confianza{



    display:flex;



    gap:25px;



    margin-top:35px;



    flex-wrap:wrap;



    color:#94a3b8;



    font-size:14px;



}







.confianza div{



    background:rgba(255,255,255,.05);



    padding:10px 18px;



    border-radius:30px;



    border:1px solid rgba(255,255,255,.08);



}











/* ================================================= */

/* COMO FUNCIONA */

/* ================================================= */







.como-funciona{



    width:90%;



    max-width:1300px;



    margin:160px auto;



    text-align:center;



}











.como-funciona h2{



    font-size:50px;



    margin-bottom:20px;



}











.pasos{





    display:grid;



    grid-template-columns:repeat(3,1fr);



    gap:30px;



    margin-top:70px;





}











.paso{





    background:#111d30;



    padding:45px 30px;



    border-radius:30px;



    border:1px solid rgba(255,255,255,.08);



    transition:.4s;





}











.paso:hover{





    transform:translateY(-12px);



    border-color:#2563eb;



    box-shadow:0 30px 70px rgba(37,99,235,.25);





}











.paso span{





    display:flex;



    width:70px;



    height:70px;



    margin:auto;



    align-items:center;



    justify-content:center;



    border-radius:50%;



    background:#2563eb;



    font-size:30px;



    font-weight:700;





}







.paso h3{



    margin:25px 0 15px;



    font-size:24px;



}







.paso p{



    color:#b7c3d0;



    line-height:1.7;



}











/* ================================================= */

/* SEGURIDAD */

/* ================================================= */







.seguridad{





    width:90%;



    max-width:1300px;



    margin:120px auto;



    padding:70px;



    background:#101d30;



    border-radius:40px;



    display:flex;



    justify-content:space-between;



    align-items:center;



    gap:50px;



    border:1px solid rgba(255,255,255,.08);





}











.seguridad h2{





    font-size:40px;





}











.seguridad p{





    color:#b7c3d0;



    max-width:600px;



    margin-top:20px;



    line-height:1.8;





}











.seguridad-box{





    display:flex;



    flex-direction:column;



    gap:20px;





}











.seguridad-box div{





    background:#16263d;



    padding:20px 35px;



    border-radius:20px;



}











/* ================================================= */

/* DESCARGA MEJORADA */

/* ================================================= */







.descarga-info{





    display:grid;



    grid-template-columns:repeat(3,1fr);



    gap:25px;



    margin:60px 0;





}











.descarga-info div{





    background:#111d30;



    padding:35px;



    border-radius:25px;



    border:1px solid rgba(255,255,255,.08);



}











.descarga-info h3{





    margin:15px 0;





}







.descarga-info p{





    margin:0;



    font-size:15px;





}











/* ================================================= */

/* TESTIMONIOS */

/* ================================================= */







.testimonios{





    width:90%;



    max-width:1300px;



    margin:150px auto;



    text-align:center;





}











.testimonios h2{





    font-size:50px;



    margin-bottom:60px;





}











.testimonios-grid{





    display:grid;



    grid-template-columns:repeat(3,1fr);



    gap:30px;





}











.testimonio{





    background:#111d30;



    padding:40px;



    border-radius:30px;



    border:1px solid rgba(255,255,255,.08);



    transition:.4s;





}











.testimonio:hover{





    transform:translateY(-10px);



    border-color:#2563eb;





}









.testimonio p{





    color:#b7c3d0;



    margin:25px 0;



    line-height:1.7;





}











.testimonio h4{





    color:#60a5fa;





}











/* ================================================= */

/* MEJORAS RESPONSIVE */

/* ================================================= */







@media(max-width:900px){





.pasos{





    grid-template-columns:1fr;



}







.seguridad{





    flex-direction:column;



    padding:40px 25px;



}







.descarga-info{





    grid-template-columns:1fr;



}







.testimonios-grid{





    grid-template-columns:1fr;



}





}









.volver-arriba{



position:fixed;



right:30px;



bottom:30px;



width:50px;



height:50px;



border-radius:50%;



border:none;



background:#2563eb;



color:white;



font-size:25px;



cursor:pointer;



opacity:0;



pointer-events:none;



transition:.3s;



z-index:999;





}





.volver-arriba.mostrar{



opacity:1;



pointer-events:auto;



}





.volver-arriba:hover{



transform:translateY(-5px);



background:#1d4ed8;



}













body{

    background:#070B18 !important;

    color:white !important;

}



header{

    background:rgba(7,11,24,.9) !important;

}



.card,

.stat,

.paso,

.testimonio,

.descarga-info div{

    background:#111827 !important;

}







/* ================================================= */

/* FIX FONDO MONEYMIND */

/* ================================================= */





html,

body{



    background:#070B18 !important;



    color:#F8FAFC !important;



}





header{



    background:rgba(7,11,24,.85) !important;



}





.hero,

.funciones,

.estadisticas,

.ia,

.como-funciona,

.seguridad,

.descarga,

.testimonios,

.footer{



    background:transparent !important;



}





.card,

.stat,

.paso,

.testimonio,

.descarga-info div,

.descarga-card,

.contacto-info,

.ia-lista div{



    background:#111827 !important;



    color:white !important;



}









main{



    background:transparent;



}





section{



    background:transparent;



}









.logo-hero{



    width:380px;

    height:380px;



    margin:auto;



    border-radius:40px;



    background:

    linear-gradient(

    145deg,

    #111827,

    #162235

    );



    border:1px solid rgba(255,255,255,.08);



    display:flex;



    flex-direction:column;



    justify-content:center;



    align-items:center;



    box-shadow:

    0 40px 100px rgba(37,99,235,.35);



    animation:flotar 5s infinite ease-in-out;



}







/* ===================================== */

/* LOGO PEQUEÑO DESCARGA Y CONTACTO */

/* ===================================== */



.logo-hero{

    width:180px;

    height:180px;

    border-radius:25px;

}





.logo-hero img{

    width:60px;

    margin-bottom:15px;

}





.logo-hero h2{

    font-size:22px;

}





.logo-hero p{

    font-size:13px;

}





/* Logos tarjetas descarga/contacto */



.descarga-card img,

.contacto-info img{

    width:45px !important;

    max-width:45px !important;

}





.descarga-card{

    padding:35px 25px;

}





.contacto-info{

    padding:30px 25px;

}







/* ================================================= */

/* AJUSTE TAMAÑO GENERAL MONEYMIND */

/* ================================================= */



.navbar{
    padding:12px 0;
}



.logo{

    font-size:22px;

    gap:10px;

}



.logo img{

    width:40px;

}



.navbar ul{

    gap:25px;

}





/* HERO MÁS COMPACTO */



.hero{

    gap:40px;

}



.etiqueta{

    padding:7px 15px;

    font-size:12px;

}



.hero-texto h1{

    font-size:48px;

    margin:20px 0;

}



.hero-texto p{

    font-size:17px;

    line-height:1.6;

}



.hero-imagen img{

    max-width:400px;

}





/* BOTONES */



.botones{

    margin-top:30px;

    gap:15px;

}



.btn{

    padding:12px 25px;

    border-radius:12px;

}





/* ESTADÍSTICAS */



.estadisticas{

    margin:80px auto;

}



.stats-box{

    gap:18px;

}



.stat{

    padding:25px 15px;

    border-radius:20px;

}



.stat h2{

    font-size:35px;

}





/* SECCIONES */



.funciones,

.ia,

.descarga,

.testimonios,

.como-funciona{

    margin:90px auto;

}





.funciones h2,

.ia-contenido h2,

.premium h2,

.descarga h2,

.testimonios h2{

    font-size:38px;

}





/* TARJETAS */



.card,

.stat,

.paso,

.testimonio,

.descarga-info div{

    border-radius:20px;

}





.card{

    padding:25px;

}





.icono{

    font-size:35px;

}





.card h3{

    font-size:20px;

}





/* IA */



.ia{

    gap:40px;

}



.ia-contenido p{

    font-size:16px;

}





.ia-card{

    padding:30px 20px;

    border-radius:25px;

}





.ai-circle{

    width:80px;

    height:80px;

    font-size:35px;

}





/* PREMIUM */



.premium{

    margin:100px auto;

    padding:50px 30px;

    border-radius:30px;

}





.premium p{

    font-size:17px;

}





/* CONTACTO */



.contacto{

    margin:120px auto 70px;

    gap:40px;

}





.contacto-contenido h1{

    font-size:42px;

}





/* DESCARGA */



.descarga-pagina{

    margin:120px auto 70px;

}





.descarga-pagina h1{

    font-size:45px;

}





.descarga-pagina p{

    font-size:17px;

}





.descarga-card{

    margin:50px auto;

    padding:35px 25px;

    border-radius:25px;

}





.descarga-card img{

    width:60px;

}





/* LOGO HERO */



.logo-hero{

    width:280px;

    height:280px;

    border-radius:30px;

}





.logo-hero img{

    width:90px;

}





.logo-hero h2{

    font-size:28px;

}





/* FOOTER */



.footer{

    padding:50px 5% 20px;

}





.footer-links{

    gap:40px;

}







/* MÓVIL */



@media(max-width:850px){



    .hero-texto h1{

        font-size:38px;

    }





    .funciones h2,

    .ia-contenido h2,

    .premium h2,

    .descarga h2{

        font-size:32px;

    }



}





@media(max-width:600px){



    .hero-texto h1{

        font-size:32px;

    }





    .logo-hero{

        width:220px;

        height:220px;

    }





    .logo-hero img{

        width:70px;

    }



}



/* ===================================== */
/* AJUSTE DESCARGA Y CONTACTO */
/* ===================================== */


/* Página descarga */

.descarga-pagina{
    margin-top:130px;
}


.descarga-pagina h1{
    font-size:45px;
}


.descarga-pagina p{
    font-size:17px;
}


.descarga-card{

    max-width:420px;

    padding:35px 25px;

    border-radius:25px;

}


.descarga-card img{

    width:55px;

}


.descarga-card h2{

    font-size:26px;

}



/* Página contacto */

.contacto{

    margin-top:130px;

    gap:40px;

}


.contacto-contenido h1{

    font-size:45px;

}


.contacto-contenido p{

    font-size:17px;

}


.contacto-info{

    padding:30px 25px;

    border-radius:25px;

}


.contacto-info h2{

    font-size:28px;

}


.contacto-info div{

    padding:12px;

}



/* Logo pequeño de contacto/descarga */

.contacto-info img,
.descarga-card img{

    width:50px !important;

}



/* ===================================== */
/* REDUCIR DESCARGA + CONTACTO */
/* ===================================== */


/* DESCARGA */

.descarga-pagina{
    width:85%;
    max-width:900px;
    margin:100px auto 50px;
}


.descarga-pagina h1{
    font-size:36px;
    margin:20px 0;
}


.descarga-pagina p{
    font-size:15px;
    line-height:1.5;
    max-width:600px;
}


.descarga-card{

    max-width:320px;

    padding:25px 20px;

    margin:40px auto;

    border-radius:20px;

}


.descarga-card img{

    width:45px !important;

    margin-bottom:15px;

}


.descarga-card h2{

    font-size:22px;

    margin-bottom:10px;

}


.descarga-card p{

    font-size:14px;

}



/* CONTACTO */


.contacto{

    width:85%;

    max-width:900px;

    margin:100px auto 50px;

    grid-template-columns:1fr 300px;

    gap:35px;

}


.contacto-contenido h1{

    font-size:36px;

}


.contacto-contenido p{

    font-size:15px;

}


.contacto-info{

    padding:25px 20px;

    border-radius:20px;

}


.contacto-info h2{

    font-size:24px;

}


.contacto-info div{

    padding:10px;

    font-size:14px;

}


/* BOTONES DENTRO DE ESAS PÁGINAS */

.descarga-pagina .btn,
.contacto .btn{

    padding:10px 22px;

    font-size:14px;

}



/* =============================== */
/* DESCARGA PEQUEÑA */
/* =============================== */

.descarga-pagina{
    max-width:850px;
    margin:120px auto 60px;
    text-align:center;
}


.descarga-pagina h1{
    font-size:40px;
    margin:20px 0;
}


.descarga-pagina p{
    font-size:16px;
    max-width:650px;
    margin:auto;
}


.descarga-card{

    width:320px;

    padding:30px 20px;

    margin:50px auto;

    border-radius:25px;

}


.descarga-card img{

    width:55px;

    margin-bottom:15px;

}


.descarga-card h2{

    font-size:24px;

}


.descarga-card .btn{

    padding:12px 25px;

    font-size:14px;

}


.proximamente h2{

    font-size:32px;

}


.proximamente div{

    padding:15px 25px;

    font-size:14px;

}



/* ================================= */
/* CAPTURAS APLICACIÓN */
/* ================================= */


.capturas{

    width:90%;
    max-width:1300px;
    margin:150px auto;
    text-align:center;

}


.capturas h2{

    font-size:50px;
    margin-bottom:20px;

}



.capturas-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:35px;

    margin-top:70px;

}



/* TARJETAS NORMALES */

.captura{

    background:#111827;

    padding:25px;

    border-radius:30px;

    border:1px solid rgba(255,255,255,.08);

    transition:.4s;

}



.captura:hover{

    transform:translateY(-10px);

    border-color:#2563eb;

    box-shadow:
    0 30px 70px rgba(37,99,235,.25);

}




.captura img{

    width:100%;

    border-radius:20px;

    border:1px solid rgba(255,255,255,.1);

}




.captura h3{

    margin-top:25px;

    font-size:24px;

}




.captura p{

    color:#94a3b8;

    margin-top:10px;

}





/* ================================= */
/* CAPTURAS PREMIUM */
/* ================================= */


.premium-captura{

    background:
    linear-gradient(
        145deg,
        #facc15,
        #eab308
    );

    color:#111827;

    border:none;

    box-shadow:
    0 25px 60px rgba(234,179,8,.35);

}



.premium-captura img{

    border-color:rgba(0,0,0,.15);

}



.premium-captura h3{

    color:#111827;

}



.premium-captura:hover{

    transform:
    translateY(-15px)
    scale(1.03);


    box-shadow:
    0 35px 80px rgba(234,179,8,.45);

}



/* RESPONSIVE */

@media(max-width:900px){

    .capturas-grid{

        grid-template-columns:1fr;

    }


    .capturas h2{

        font-size:38px;

    }

}




/* ================================= */
/* AVISO DESCARGA */
/* ================================= */

.aviso-descarga{

    margin-top:25px;
    font-size:15px;
    color:#94a3b8;
    line-height:1.6;
    max-width:500px;
    margin-left:auto;
    margin-right:auto;

}




/* ================================= */
/* CREADOR */
/* ================================= */

.creador{

    margin-top:10px;
    font-size:14px;
    color:#94a3b8;

}




/* ================================= */
/* SOBRE MONEYMIND */
/* ================================= */


.sobre{

    width:90%;
    max-width:1000px;
    margin:140px auto 80px;
    text-align:center;

}


.sobre h1{

    font-size:50px;
    margin:30px 0;

}


.sobre p{

    color:#94a3b8;
    font-size:20px;
    line-height:1.7;

}



.sobre-bloques{

    width:90%;
    max-width:1200px;
    margin:80px auto;

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:35px;

}



.sobre-card{

    background:#111827;
    padding:35px;
    border-radius:30px;
    border:1px solid rgba(255,255,255,.08);

}



.sobre-card h2{

    margin-bottom:20px;

}



.sobre-card p{

    color:#94a3b8;
    line-height:1.6;

}



.creador-seccion{

    width:90%;
    max-width:900px;
    margin:100px auto;
    text-align:center;

}


.creador-seccion p{

    color:#94a3b8;
    font-size:18px;

}



@media(max-width:900px){

    .sobre-bloques{

        grid-template-columns:1fr;

    }


    .sobre h1{

        font-size:36px;

    }

}



/* ================================= */
/* FAQ */
/* ================================= */


.faq{

    width:90%;
    max-width:1100px;
    margin:120px auto;
    text-align:center;

}



.faq h2{

    font-size:50px;
    margin-bottom:20px;

}



.faq-container{

    margin-top:60px;
    display:flex;
    flex-direction:column;
    gap:25px;

}



.faq-item{

    background:#111827;
    padding:30px;
    border-radius:25px;
    text-align:left;
    border:1px solid rgba(255,255,255,.08);
    transition:.3s;

}



.faq-item:hover{

    transform:translateY(-5px);
    border-color:#2563eb;

}



.faq-item h3{

    font-size:22px;
    margin-bottom:15px;

}



.faq-item p{

    color:#94a3b8;
    line-height:1.7;

}



@media(max-width:900px){

    .faq h2{

        font-size:36px;

    }

}
